*{
    margin: 0;
    padding: 0;
    border: 0;
}
div#um{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #000;
}
div#um:hover{
    width: 200px;
    height: 200px;
    background-color: red;
    cursor: pointer;
}